@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body {
    overflow-x: hidden;
}
#openMenu, #openMenu.open {
    width: 0;
    overflow: hidden;
}

@media only screen and (max-width: 760px) {
    #openMenu {
        width: 80% !important;
        right: -80%;
        transform-origin: right;
        transform: scaleX(0);
    }
    #openMenu.open {
        transform: scaleX(1);
        right: 0;
    }
}
