@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@theme {
    --color-default-500: #000000DE;
    --font-noto: 'Noto Sans, sans-serif';
    --breakpoint-md: 47.5rem; /* 760px */
}


@media only screen and (max-width: 760px) {
    #openMenu {
        width: 80%;
        right: -80%;
    }
    #openMenu.open {
        width: 80%;
        right: 0;
    }
}

